@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
*::before,
*::after {
  box-sizing: border-box;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn-reset:focus {
  outline: none;
}
.link-reset {
  text-decoration: none;
}
body {
  background: #333;
  transition: 1s;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #333;
}
.header-content {
  padding: 0 10px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  display: flex;
  max-width: 1300px;
  align-items: center;
}
.zoo-icon {
  margin-top: -10px;
}
.zoo-text {
  margin: 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}
.onlie-text {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 5px;
  letter-spacing: 0.08em;
  color: #fff;
}
.navigation {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 572px;
}
.navigation-menu {
  width: 100%;
  justify-content: space-between;
  padding-left: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navigation-links {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}
.navigation a:hover {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-weight: 900;
  text-decoration: underline;
}
.about-link {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-weight: 900;
  text-decoration: underline;
}
.change-button {
  border-radius: 100%;
  padding: 0;
  width: 30px;
  height: 30px;
}
.panda-switch {
  margin-right: 0;
  width: 30px;
  height: 30px;
}
.panda-switch path {
  fill: #fff;
}
.first-page {
  background-image: url("images/first-page-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: none;
}
.first-page-content {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
}
.social-links {
  padding: 720px 0 110px 90px;
}
.social-links ul {
  margin: 0;
  display: grid;
  width: 20px;
  grid-template-columns: repeat(1, 1fr);
}
.social-links li:not(:last-child) {
  padding-bottom: 14px;
}
.watch-online {
  padding-left: 188px;
  padding-top: 206px;
}
.watch-text-block {
  max-width: 793px;
}
.watch-text {
  margin: 0;
  color: #fefefe;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
}
.watch-online-button {
  margin-top: 37px;
}
.watch-online-button button {
  border-radius: 3px;
  display: flex;
  border: none;
  background-color: #4bd8b5;
  width: 245px;
  height: 55px;
}
.watch-online-button button:hover {
  cursor: pointer;
  transition: all 0.7s ease;
  background-color: #36ad8f;
}
.watch-button-content {
  align-items: center;
  display: flex;
  margin: auto;
}
.watch-button-text {
  margin-left: 5px;
  text-transform: uppercase;
  color: #fefefe;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}
.whath-animal {
  background-image: url("icons/watch-line.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: none;
}
