@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --white2: #fefefe;
  --white3: #e0e0e0;
  --grey: #4f4f4f;
  --black: #333;
  --grey2: #f2f2f2;
  --grey3: #bdbdbd;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn-reset:focus {
  outline: none;
}
.link-reset {
  text-decoration: none;
}
body {
  background: var(--white);
  transition: 1s;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: var(--white);
}
.header-content {
  padding: 0 10px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  display: flex;
  max-width: 1300px;
  align-items: center;
}
.zoo-icon {
  margin-top: -10px;
}
.zoo-text {
  margin: 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: var(--black);
}
.onlie-text {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 5px;
  letter-spacing: 0.08em;
  color: var(--black);
}
.navigation {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 572px;
}
.navigation-menu {
  width: 100%;
  justify-content: space-between;
  padding-left: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navigation-links {
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  text-decoration: none;
}
.navigation a:hover {
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  font-weight: 900;
  text-decoration: underline;
}
.about-link {
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  font-weight: 900;
  text-decoration: underline;
}
.change-button {
  border-radius: 100%;
  padding: 0;
  width: 30px;
  height: 30px;
}
.panda-switch {
  margin-right: 0;
  width: 30px;
  height: 30px;
}
.panda-switch path {
  fill: var(--black);
}
.first-page {
  background-image: url("images/first-page-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: none;
}
.first-page-content {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
}
.social-links {
  padding: 720px 0 110px 90px;
}
.social-links ul {
  margin: 0;
  display: grid;
  width: 20px;
  grid-template-columns: repeat(1, 1fr);
}
.social-links li:not(:last-child) {
  padding-bottom: 14px;
}
.watch-online {
  position: absolute;
  padding-left: 188px;
  padding-top: 206px;
}
.watch-text-block {
  max-width: 793px;
}
.watch-text {
  margin: 0;
  color: #fefefe;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
}
.watch-online-button {
  margin-top: 37px;
}
.watch-online-button button {
  border-radius: 3px;
  display: flex;
  border: none;
  background-color: #4bd8b5;
  width: 245px;
  height: 55px;
}
.watch-online-button button:hover {
  cursor: pointer;
  transition: all 0.7s ease;
  background-color: #36ad8f;
}
.watch-online-button button:focus {
  outline: none;
}
.watch-button-content {
  align-items: center;
  display: flex;
  margin: auto;
}
.watch-button-text {
  margin-left: 5px;
  text-transform: uppercase;
  color: #fefefe;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}
.watch-animal-content {
  background-image: url("icons/watch-line.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 900px;
  border-bottom: none;
  align-items: center;
  float: left;
  margin-top: 400px;
  padding-left: 650px;
  min-width: 800px;
}
.watch-animal-list {
  display: flex;
}
.watch-img {
  width: 140px;
  height: 203px;
}
.watch-img-active {
  width: 245px;
  z-index: 1;
}
.watch-animal-list {
  align-items: center;
}
.watch-animal-item {
  border-radius: 5px;
}
.watch-animal-active {
  height: 352px;
}
.watch-animal-item img {
  border-radius: none;
  padding-top: 20px;
}
.watch-animal-item:first-child {
  padding-left: 10px;
}
.watch-animal-item:not(:last-child) {
  margin-right: 46px;
}
.panda-information {
  width: 185px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  position: relative;
  left: 25px;
  top: -118px;
}
.panda-whatch-online {
  width: 113px;
  margin-top: -105px;
  margin-left: 25px;
  height: 24px;
  display: flex;
}
.panda-whatch-online-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color: #4bd8b5;
  text-transform: uppercase;
  margin-left: 3px;
  word-wrap: nowrap;
}
.panda-whatch-online a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.panda-donate a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.panda-donate {
  margin-top: -25px;
  margin-left: 149px;
  align-items: center;
  display: flex;
  width: 74px;
  height: 24px;
}
.panda-donate-text {
  margin-left: 3px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  color: #fff;
}
.content {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 790px;
  text-align: center;
}
.works-page {
  background-color: var(--white);
}
.works-title {
  padding-top: 100px;
  text-align: start;
}
.worcs-subtitle {
  padding: 30px 0;
  margin: 0 auto;
  max-width: 790px;
  text-align: start;
}
.main-title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: var(--black);
}
.main-subtitle {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--grey);
}
.works-button {
  max-width: 245px;
  padding: 60px 0;
  margin: 0 auto;
}
.mission-pade {
  background-color: var(--grey2);
}
.mission-content {
  max-width: 1206px;
  margin: 0 auto;
}
.mission-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.mission-title {
  margin: 15px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--black);
}
.mission-item svg {
  display: flex;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 15px;
}
.mission-subtitle {
  padding-bottom: 132px;
}
.pets-page {
  background-color: var(--white);
}
.pets-content {
  max-width: 1320px;
  margin: 0 auto;
}
.pets-title {
  text-align: center;
  padding: 100px 0 35px 0;
}
.pets-in-zoo {
  display: flex;
  align-items: center;
}
.pets-svg1 {
  margin-right: 20px;
}
.pets-svg2 {
  margin-left: 20px;
}
.pets-svg path:hover {
  cursor: pointer;
  fill: var(--black);
}
.pets-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.button-container {
  margin: 0 auto;
  max-width: 245px;
}
.choose {
  margin: 70px 0;
  background-color: #4bd8b5;
  width: 245px;
}
.choose:hover {
  cursor: pointer;
  transition: all 0.7s ease;
  background-color: #36ad8f;
}
.choose-text {
  margin: 0;
  padding: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}
.pay-page {
  background-color: var(--grey2);
}
.pay-content {
  margin: 0 auto;
  max-width: 1200px;
}
.pay-title {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.pay-subtitle {
  margin: 0 auto;
  text-align: center;
  max-width: 750px;
  padding-top: 30px;
}
.pay-list {
  margin: 0 auto;
  padding-top: 92px;
  align-items: center;
  display: flex;
}
.pay-arrow {
  padding: 0 63px;
}
.pay-svg-text {
  fill: var(--grey);
}
.panda {
  position: absolute;
  margin-left: 90px;
  margin-top: 60px;
}
.testimonials-page {
  background-color: var(--white);
}
.testimonials-content {
  max-width: 1270px;
  margin: 0 auto;
}
.testimonials-title {
  padding-top: 100px;
  padding-bottom: 35px;
  max-width: 284px;
  margin: 0 auto;
}
.testimonials-main {
  display: flex;
  align-items: center;
}
.testimonials-list {
  align-items: center;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.testimonials-item {
  max-width: 585px;
  background: var(--white2);
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
}
.testimonials-item-content {
  max-width: 440px;
  padding: 47px 72px 106px 72px;
}
.testimonials-img {
  margin: 0 auto;
  display: flex;
}
.testimonials-descr {
  margin: 0 auto;
  max-width: 150px;
  padding: 17px 0;
}
.map-page {
  background-color: var(--grey2);
}
.map-content {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 15px;
}
.map-title {
  width: 100px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 60px;
}
.map {
  margin-bottom: 35px;
  display: flex;
  height: 500px;
  width: 1200px;
  background-image: url(images/map.png);
  background-repeat: no-repeat;
  border-bottom: none;
}
.map-location {
  width: 90px;
  height: 90px;
  display: flex;
}
.map-location1 {
  margin-top: 74px;
  margin-left: 108px;
}
.map-location2 {
  margin-top: 101px;
  margin-left: 33px;
}
.map-location3 {
  margin-top: 193px;
  margin-left: 237px;
}
.map-location4 {
  margin-top: 90px;
  margin-left: 230px;
}
.location1 {
  width: 90px;
  height: 90px;
}
.location1 path:hover {
  cursor: pointer;
  fill: #36ad8f;
}
.map-bird {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-left: 23px;
  margin-top: 10px;
}
.map-watch-online {
  width: 245px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 100px;
}
.map-button:hover {
  cursor: pointer;
  transition: all 0.7s ease;
  background-color: #36ad8f;
}
.map-button {
  border-radius: 3px;
  display: flex;
  border: none;
  background-color: #4bd8b5;
  width: 245px;
}
.footer {
  background-color: #333;
}
.footer-content {
  max-width: 1640px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer-head {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
}
.footer-zoo-text {
  margin: 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}
.footer-onlie-text {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 5px;
  letter-spacing: 0.08em;
  color: #fff;
}
.footer-navigation {
  align-items: center;
  display: flex;
  min-width: 796px;
  justify-content: space-between;
}
.footer-head-list {
  display: grid;
  gap: 73px;
  grid-template-columns: repeat(4, 1fr);
}
.footer-nav-item {
  color: #fff;
}
.footer-nav-item:hover {
  text-decoration: underline;
}
.footer-choose {
  background-color: #4bd8b5;
  width: 280px;
}
.footer-choose:hover {
  cursor: pointer;
  transition: all 0.7s ease;
  background-color: #36ad8f;
}
.footer-forms-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
  margin-bottom: 33px;
}
.footer-name {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  width: 383px;
  height: 26px;
  margin-bottom: 20px;
  color: var(--white3);
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid#E0E0E0;
}
.footer-name::placeholder {
  color: var(--white3);
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.footer-name:focus {
  outline: none;
}
.footer-message {
  width: 383px;
  height: 124px;
  display: inline-block;
  position: relative;
  border: 1px solid var(--white3);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 25px;
}
.footer-massage-content {
  border: none;
  width: 383px;
  height: 124px;
  background-color: transparent;
  color: var(--white3);
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.footer-massage-content:focus {
  outline: none;
}
.footer-massage-border {
  min-width: 155px;
  margin-top: -138px;
  margin-left: -180px;
  position: absolute;
  background-color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey3);
}
.footer-checkbox-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--grey3);
}
.footer-send-button {
  display: flex;
  align-items: center;
}
.send-text {
  padding-right: 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
}
.footer-send {
  padding-left: 285px;
}
.footer-main {
  max-width: 383px;
}
.footer-info {
  max-width: 190px;
}
.content-wrapper {
  max-width: 1030px;
  display: flex;
  padding: 0 10px;
  padding-bottom: 60px;
  justify-content: space-between;
}
.footer-info-text {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
}
.footer-info-p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
}
.footer-info-adress {
  margin: 0;
  padding-bottom: 5px;
}
.footer-info-time {
  margin: 0;
  padding-bottom: 20px;
}
.footer-phone {
  margin: 0;
  padding-bottom: 5px;
}
.footer-mail {
  margin: 0;
  padding-bottom: 20px;
}
.footer-info-list {
  width: 125px;
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-footer {
  padding-bottom: 70px;
  padding-top: 30px;
  border-top: 1px solid #fefefe;
}
.footer-text1,
.footer-text2 {
  margin: 0;
}
.footer-footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey3);
}
